body {
    background-color: rgb(226, 215, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
}

.box{
    height: 350px;
    width: 150px;
    text-align: left;
    padding: 5px;
    color: white;
    text-decoration: none;
}

svg {
    margin-top: 5px;
}

h3, p{
    margin: 25px;
}

.box.red {
    color: white; 
    font-size: 16px; 
}

.box.blue {
    color: white; 
    font-size: 16px; 
}

.box.orange  {
    color: white; 
    font-size: 16px; 
}

.blue {
  background-color: orange;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: orange;
}

.color1 button {
    color: orange;
}

.red, button{
  background-color: #30475E;
}

.color2, button {
    color: #30475E;
}

.orange {
  background-color: #152D35;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.color3, button{
    color: #222831;
}

button {
    background-color: white;
    margin-top: 35px;
    margin-left: 25px;
    padding: 7px 10px;
    text-align: center;
    border-radius: 15px;
    border-style: none;
}
